################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lecture5/v17
/.vs/Lecture5/FileContentIndex
